<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel='stylesheet' href='static\styles\index.css'/>

    <title>Home Page</title> 
</head>


<body> 
    <div class='header'>
        <h1> Keyphosis App</h1>
        <p> welcome to our application where you can predict Keyphosis</p>
    </div>

    <div> 
        <form action="/predict" method="POST">
            <label for="age">Age</label><br>
            <input type='number' step="1" id='age' name='age'><br><br>

            <label for="number">Number</label><br>
            <input type='number' step="1" id='number' name='number'><br><br>

            <label for="start">Start</label><br>
            <input type='number' step="1" id='start' name='start'><br><br>

            <input type="Submit" value="Predict" />
        </form>
        
    </div>


</body>